/*========================
  1.2  Variable CSS start
==========================*/
/* font family */
$lexend: "Lexend", sans-serif;

/* color variables */
:root {
  --theme-color: 23, 28, 38;
  --title-color: 23, 28, 38;
  --content-color: 127, 131, 132;
  --box-bg: 243, 244, 246;
  --line-color: 232, 232, 233;
  --secondary-color: 255, 180, 0;
  --success-color: 32, 177, 73;
  --error-color: 255, 75, 75;
  --accent-color: 58, 109, 229;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

.dark {
  --theme-color: 2, 2, 3;
  --title-color: 255, 255, 255;
  --content-color: 127, 131, 132;
  --white: 18, 18, 18;
  --black: 255, 255, 255;
  --box-bg: 30, 30, 30;
  --line-color: 65, 65, 65;
}
