/*=====================
    5.3  elements CSS start
==========================*/
.app-title {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(var(--title-color), 0.05);
    border-left: 3px solid rgba(var(--title-color), 1);
    [dir="rtl"] & {
        border-left: unset;
        border-right: 3px solid rgba(var(--title-color), 1);
    }

    h3 {
        font-weight: 500;
        color: rgba(var(--title-color), 1);
    }
}

.elements-navbar {
    position: relative;
    padding: 0 10px 15px;
    box-shadow: none;

    &.without-highlight {
        ul {
            li {
                &.active {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.element-list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    li {
        font-size: 14px;

        .btn {
            margin: 0;

            &.btn-sm {
                font-size: 12px;
            }
            &.gray-btn {
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--box-bg), 1);
            }
        }

        .theme-outline-btn {
            background-color: transparent;
            color: rgba(var(--theme-color), 1);
            border-color: rgba(var(--theme-color), 1);
            font-weight: 500;
            font-size: 14px;
            border-radius: 8px;

            &:hover {
                color: rgba(255, 255, 255, 1);
                background-color: rgba(var(--theme-color), 1);
                border-color: rgba(var(--theme-color), 1);
            }
        }

        .gray-outline-btn {
            background-color: transparent;
            color: rgba(var(--title-color), 1);
            border-color: rgba(var(--line-color), 1);
            font-weight: 500;
            font-size: 14px;
            border-radius: 8px;

            &:hover {
                color: rgba(var(--theme-color), 1);
                background-color: rgba(var(--box-bg), 1);
            }
        }

        .link-btn {
            color: rgba(var(--theme-color), 1);
        }
        .btn-outline-dark {
            color: rgba(var(--title-color), 1);
            border-color: rgba(var(--title-color), 1);
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

.element-group {
    &.radio-group {
        .form-check {
            padding: 0;
            .form-check-input {
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--content-color), 0.5);
                float: left;
                margin-left: unset;
                margin-right: 10px;
                [dir="rtl"] & {
                    float: right;
                    margin-right: unset;
                    margin-left: 10px;
                }
                &:focus {
                    box-shadow: none;
                }
                &:checked {
                    position: relative;
                    background-color: rgba(var(--white), 1);
                    border-color: rgba(var(--theme-color), 1);
                    &::after {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: rgba(var(--theme-color), 1);
                        border-radius: 100%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .form-check-label {
                        color: rgba(var(--title-color), 1) !important;
                    }
                }
            }

            .form-check-label {
                font-size: 16px;
                font-weight: 500;
                color: rgba(var(--title-color), 1);
                &:checked {
                    color: rgba(var(--title-color), 1) !important;
                }
            }
        }
    }

    &.checkbox-group {
        .form-check {
            margin-top: 8px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap: 8px;
            float: unset;
            padding-left: 0;
            [dir="rtl"] & {
                padding-left: unset;
                padding-right: 0;
            }

            .form-check-label {
                font-size: 16px;
                color: rgba(var(--title-color), 1);
            }

            .form-check-input {
                width: 20px;
                height: 20px;
                margin: 0;
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--line-color), 1);
                border-radius: 4px;
                box-shadow: 0px 2px 15px 0px rgba(78, 160, 247, 0.08);
                transition: all 0.5s ease;

                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
                &:checked {
                    background-color: rgba(var(--theme-color), 1);
                    border-color: rgba(var(--content-color), 0.15);
                    float: unset;
                }
            }
        }
    }

    &.switch-group {
        .switch-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            input[type="checkbox"] {
                position: relative;
                width: 37px;
                height: 22px;
                margin-top: 0;
                appearance: none;
                --bs-form-check-bg-image: none;
                background-color: rgba(var(--box-bg), 1);
                border: 1px solid rgba(var(--line-color), 1);
                box-shadow: none;
                border-radius: 50px;
                cursor: pointer;

                &:checked {
                    background-color: rgba(var(--theme-color), 0.1);

                    &::before {
                        transform: translateX(80%) translateY(-50%);
                        background-color: rgba(var(--theme-color), 1);
                    }
                }

                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: rgba(var(--content-color), 0.5);
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    transition: 0.5s;
                }
            }

            h3 {
                font-weight: 400;
                color: rgba(var(--title-color), 1);
            }
        }
    }
}

.offcanvas {
    &.element-offcanvas {
        max-width: 280px;
        background-color: rgba(var(--white), 1);
        border: none;
        &.offcanvas-top {
            max-width: 100%;
            border-radius: 0 0 20px 20px;
        }
        &.offcanvas-bottom {
            max-width: 100%;
            border-radius: 20px 20px 0 0;
        }
        &.offcanvas-start {
            border-radius: 0 20px 20px 0;
        }
        &.offcanvas-end {
            border-radius: 20px 0 0 20px;
        }

        .offcanvas-header {
            border-bottom: 1px solid rgba(var(--line-color), 1);
            .offcanvas-title {
                font-size: 16px;
                color: rgba(var(--title-color), 1);
            }
            .btn-close {
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .offcanvas-body {
            p {
                font-size: 14px;
                color: rgba(var(--content-color), 1);
            }
        }
    }
}

.element-modal {
    .modal-dialog {
        .modal-content {
            background-color: rgba(var(--white), 1);
            .modal-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-bottom: 1px solid rgba(var(--line-color), 1);
                .modal-title {
                    font-size: 16px;
                    color: rgba(var(--title-color), 1);
                }
                .btn-close {
                    margin: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .modal-body {
                p {
                    font-size: 14px;
                    color: rgba(var(--content-color), 1);
                }
            }

            .modal-footer {
                padding: 10px;
                border-top: 1px solid rgba(var(--line-color), 1);
            }
        }
    }
}

.tab-style1 {
    flex-wrap: nowrap;
    width: 100%;
    margin: 30px auto 0;
    border-radius: 6px;
    overflow: hidden;

    .nav-item {
        color: rgba(var(--white), 0.1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        border-radius: 0px;
        transition: all 0.3s ease;
        border-radius: 6px;

        .nav-link {
            width: 100%;
            padding: 10px;
            font-weight: 500;
            font-size: 16px;
            border-radius: 0;
            color: rgba(var(--content-color), 1);
            backdrop-filter: blur(2px);
            background-color: rgba(var(--box-bg), 1);

            &.active {
                background-color: rgba(var(--theme-color), 1);
                color: rgba(255, 255, 255, 1);

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.tab-style2 {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    border-bottom: none;
    overflow-x: auto;

    .nav-item {
        color: rgba(var(--white), 0.1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s ease;
        border-radius: 0;
        border-bottom: 1px solid rgba(var(--box-bg), 1);

        .nav-link {
            width: 100%;
            padding-top: 0;
            font-weight: 500;
            font-size: 16px;
            white-space: nowrap;
            color: rgba(var(--content-color), 1);
            background-color: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid rgba(var(--line-color), 1);

            &:hover {
                border-left: none;
                border-right: none;
                border-top: none;
                color: rgba(var(--content-color), 1);
            }

            &:focus {
                border-color: transparent;
            }

            &.active {
                background-color: transparent;
                color: rgba(var(--title-color), 1);
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 2px solid rgba(var(--theme-color), 1);
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 0;
                width: 100%;
            }
        }
    }
}

.tab-style3 {
    flex-wrap: nowrap;
    width: 100%;
    margin: 30px auto 0;
    border-radius: 6px;
    overflow: hidden;
    gap: 20px;
    display: flex;
    .nav-item {
        border-radius: 10px;
        background-color: rgba(var(--box-bg), 1);

        .nav-link {
            width: 100%;
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            font-size: 16px;
            color: rgba(var(--content-color), 1);

            &.active {
                background-color: rgba(var(--theme-color), 1);
                color: rgba(255, 255, 255, 1);
                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
            &:hover {
                color: rgba(var(--content-color), 1);
            }
        }
    }
}

.progressbar-list {
    .progress {
        background-color: rgba(var(--box-bg), 1);
        &:first-child {
            margin-top: 30px;
        }
        .progress-bar {
            background-color: rgba(var(--theme-color), 1);
        }
    }
}
