/*=============================
  5.10  Page-listing CSS start
===============================*/
.element-title {
    margin-top: 20px;
    background-color: rgba(var(--title-color), 0.05);
    border-radius: 8px;

    h3 {
        font-size: 18px;
        padding: 15px;
        color: rgba(var(--title-color), 1);
        @media (max-width: 600px) {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320)));
        }
    }
}

.element-menu {
    margin-top: 10px;
    .navigation {
        .pages {
            width: 100%;
            padding: 5px 10px;

            h4 {
                font-size: 16px;
                @media (max-width: 600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (768 - 320)));
                }
            }

            a {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgba(var(--title-color), 1);
                @media (max-width: 600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (768 - 320)));
                }
                i {
                    --Iconsax-Color: rgba(var(--title-color), 1);
                    --Iconsax-Size: 18px;
                    line-height: 1;

                    [dir="rtl"] & {
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }
}
